body, html {
    margin: 0;
    font-family: monospace, sans-serif;
    font-size: 12px;
}

.access-code-A {
    color: rgb(156, 165, 29);
}
.access-code-B {
    color: rgb(29, 165, 52);
}
.access-code-C {
    color: rgb(29, 86, 165);
}
.access-code-D {
    color: rgb(165, 61, 29);
}
